<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/headLinks") %>
  
    <title>Messenger Bot</title>

    <meta name="keywords" content="Messages, Bot, Messenger, Facebook">
    <meta name="description" content="Page for conversation with a Messenger Bot">

</head>
<body>

  <header>
    <%- include ("../partials/header") %>
  </header>

<h1> Messenger bot </h1>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v8.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="101149528396924"
    theme_color="#0084ff"
    logged_in_greeting="Hi! Would you like to answer a few questions about yourself?"
    logged_out_greeting="Hi! Would you like to answer a few questions about yourself?">
</div>

</body>
</html>
