* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: "Poppins", SansSerif, serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", SansSerif, serif;
}

p,
li {
  font-family: "Roboto Slab", SansSerif, serif;
  font-size: 18px;
}

div {
  font-family: "Roboto Slab", SansSerif, serif;
}

button {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  font-family: "Lora", serif;
}

nav {
  font-family: Georgia, "Times New Roman", Times, serif;
}
