<!DOCTYPE html>
<html lang="en">

<head>
    
	<%- include ("../partials/headLinks") %>

    <title> Messenger Bot </title>

    <meta name="keywords" content="Messenger, Bot, AI">
    <meta name="description" content="">
</head>

<body>

    <header>
		<%- include ("../partials/header") %>
    </header>

    <script src="/javascript/ind.js"></script>


    <footer>
		<%- include ("../partials/footer") %>
    </footer>
</body>

</html>